*{
margin:0;
padding:0;
}
/* modile */
@media screen and (max-width:767px){
    .navbar{
        padding-top:20px;
    }
}
/* tablet */
@media screen and (min-width:768px) and (max-width:1023px){
    .navbar{
        padding-top:20px;
    }
}
/* Pc */
@media screen and (min-width:1024px){
    .navbar{
        padding-top:40px;
    }
}