@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
*{
margin:0;
padding:0;
}
.footer_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 43px;
        letter-spacing: -0.05em;
        text-transform: capitalize;
        color: #FFFFFF;
        text-align: start;
        width:175px
    }
    .innerCon_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 43px;
        text-align: right;
        letter-spacing: -0.05em;
        text-transform: capitalize;
        color: #FFFFFF;
        /* margin-left: 120px; */
    }
/* modile */
@media screen and (max-width:767px){
    .footer{
        width:100vw;
        height:50vh;
        /* background-color: #191919; */
        display: flex;
        flex-direction: column;
        padding-left:50px;
        padding-right:50px;
        justify-content: space-between;
        margin-bottom:20px;
    }
    .footer_innerCon{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .footer_innerCon-innerCon{
        width: 80%;
        display: flex;
        justify-content:center;
        align-items: flex-end;
        flex-direction: column;
        height:150px;
        align-self: flex-end;
    }
    .footer_innerCon-p, .innerCon_innerCon-p {
        font-size: 1.2rem; /* Smaller font size for mobile */
        line-height: normal; /* Adjust line height for smaller screens */
    }

    .footer_innerCon-p {
        text-align: left; /* Center align text for mobile */
        width:35%; /* Adjust width for smaller screens */
    }

    .innerCon_innerCon-p {
        align-self: flex-end;
        text-align: right; /* Center align text for mobile */
        transform: translateY(-4em);
    }
    .innerCon_innerCon-email{
        text-decoration:underline;
    }
    .innerCon_innerCon-hr{
        display: none;
       }
    .innerCon_innerCon-hr2{
       width:40%;
        transform: translateY(0.9rem) translateX(0.5rem);
        
    }
    .footer_innerCon2{
        display: flex;
        justify-content:space-between;
        align-items:flex-start;
        /* margin-top: 414px; */
        flex-direction: column;
        row-gap:10px;
    }
    .footer_innerCon2-innerCon{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap:10px;
    }
    .innerCon2_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        display: flex;
        column-gap:11px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        align-items: center;
        margin-right: 50px;
    }
    .innerCon2_innerCon-p2{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .footer_innerCon2-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        text-align:left;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
/* tablet */
@media screen and (min-width:768px) and (max-width:1023px){
    .footer{
        width:100vw;
        min-height:100vh;
        /* background-color: #191919; */
        display: flex;
        flex-direction: column;
        padding-left:50px;
        padding-right:50px;
        /* justify-content: space-between; */
    }
    .footer_innerCon{
        display: flex;
        justify-content: space-between !important;
    }
    .footer_innerCon-innerCon{
        width: 80%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .footer_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 43px;
        letter-spacing: -0.05em;
        text-transform: capitalize;
        color: #FFFFFF;
        text-align: start;
        width:175px
    }
    .innerCon_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 43px;
        text-align: right;
        letter-spacing: -0.05em;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-left: 120px;
    }
     .innerCon_innerCon-email{
        text-decoration:underline;
    }
    .innerCon_innerCon-hr{
        position: absolute;
        transform: translateX(44px);
        width:231.5px;
        margin-bottom:2.9em;
    }
    .footer_innerCon2{
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin-top: 414px;
    }
    .footer_innerCon2-innerCon{
        display: flex;
        justify-content: space-between;
    }
    .innerCon2_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 21px;
        display: flex;
        column-gap:11px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        align-items: center;
        margin-right: 50px;
    }
    .innerCon2_innerCon-p2{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 21px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .footer_innerCon2-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 21px;
        text-align: right;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    } 
    .innerCon_innerCon-hr2{
        display: none;
       }
}
/* Pc */
@media screen and (min-width:1024px){
    .footer{
        min-height:95vh;
        /* background-color: #191919; */
        display: flex;
        flex-direction: column;
        padding-left:50px;
        padding-right:50px;
        /* justify-content: space-between; */
    }
    .footer_innerCon{
        display: flex;
        justify-content: space-between !important;
    }
    .footer_innerCon-innerCon{
        width: 80%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        transform: translateX(-150px);
    }
    .footer_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 83px;
        letter-spacing: -0.05em;
        text-transform: capitalize;
        color: #FFFFFF;
        text-align: start;
        min-width:375px;
    }
    .innerCon_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 83px;
        text-align: right;
        letter-spacing: -0.05em;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-left:320px ;
    }
    .innerCon_innerCon-email{
        text-decoration:underline;
    }
    .innerCon_innerCon-hr{
        position: absolute;
        left:179px;
        width:431.5px;
        /* transform:translateX(-79px); */
        margin-bottom:2.9em;
    }
    .footer_innerCon2{
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin-top: 414px;
    }
    .footer_innerCon2-innerCon{
        display: flex;
        justify-content: space-between;
    }
    .innerCon2_innerCon-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        column-gap:11px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        align-items: center;
        margin-right: 50px;
    }
    .innerCon2_innerCon-p2{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        /* margin-left:; */
    }
    .footer_innerCon2-p{
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        text-align: right;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .innerCon_innerCon-hr2{
        display: none;
       }
}

